In this exercise we use `Horse Colic data set` from
https://archive.ics.uci.edu/ml/datasets/Horse+Colic (the `horse-colic.data` file under `Data
Folder`), which contained in the UCI Machine Learning Repository. Download the data, read
it to your software and make sure that the missing values (question marks) are handled
correctly.

Does the horse colic data provide statistical evidence that the mean `rectal temperature` or
`age` or `pulse` are different between colic horses treated without surgery and those treated
with surgery?

In [30]:
import pandas as pd
import statsmodels
import math
import numpy as np
from scipy.stats import shapiro, f_oneway, chi2_contingency, kruskal
import matplotlib.pyplot as plt

In [31]:
data = pd.read_csv("./horse-colic.data.csv", delim_whitespace=True, na_values="?")
data.columns = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse'  'respiratory rate', 'temperature of',
  'pulse',
  'respiratory rate',
  'temperature of extremities',
  'peripheral pulse',
  'mucous membranes',
  'capillary refill time', 
  'pain',
  'peristalsis',
  'abdominal distension',
  'nasogastric tube',
  'nasogastric reflux',
  'nasogastric reflux PH', 
  'rectal examination',
  'abdomen',
  'packed cell volume',
  'total protein',
  'abdominocentesis appearance',
  'abdomcentesis total', 
  'outcome surgical lesion',
  'type of lesion'
  'type of lesion', 
  'type of lesion', 
  'cp_data',
]

In [32]:
d = data[["surgery", "Age", "pulse", "rectal temperature"]]

In [33]:
d.head()

   surgery  Age  pulse  rectal temperature
0      1.0    1    NaN                39.2
1      2.0    1    1.0                38.3
2      1.0    9    4.0                39.1
3      2.0    1    NaN                37.3
4      2.0    1    2.0                 NaN

In [39]:
surgery = d[d.surgery == 1]
print("Mean Surgery : ",surgery["rectal temperature"].mean())
surgery.head()

Mean Surgery :  38.14357142857144

   surgery  Age  pulse  rectal temperature
0      1.0    1    NaN                39.2
2      1.0    9    4.0                39.1
5      1.0    1    1.0                37.9
6      1.0    1    3.0                 NaN
9      1.0    1    3.0                38.1

In [40]:
no_surgery = d[d.surgery == 2]
print("Mean No Surgery : ",no_surgery["rectal temperature"].mean())
no_surgery.head()

Mean No Surgery :  38.20102040816326

   surgery  Age  pulse  rectal temperature
1      2.0    1    1.0                38.3
3      2.0    1    NaN                37.3
4      2.0    1    2.0                 NaN
7      2.0    1    3.0                 NaN
8      2.0    9    1.0                38.3

In [36]:
# surgery["rectal temperature"] = surgery["rectal temperature"].fillna(surgery["rectal temperature"].mean())

/tmp/ipykernel_948131/1766635316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surgery["rectal temperature"] = surgery["rectal temperature"].fillna(surgery["rectal temperature"].mean())

In [37]:
surgery.head()

   surgery  Age  pulse  rectal temperature
0      1.0    1    NaN           39.200000
2      1.0    9    4.0           39.100000
5      1.0    1    1.0           37.900000
6      1.0    1    3.0           38.143571
9      1.0    1    3.0           38.100000